body {
  font-family: Arial;
  margin-top: 0px;
  margin-bottom: 0px;
  }
  
.app-container {
  max-width: 600px;
  margin-left: auto;
  margin-right: auto;
  height: 100vh;
  display: flex;
  flex-direction: column;
  }